/* Home Banner Area css
============================================================================================ */

.home_banner_area {

    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 790px;
   
}



/* End Home Banner Area css
============================================================================================ */